[submodule "submodules/dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "submodules/n3pygments"]
	path = submodules/n3pygments
	url = https://github.com/gniezen/n3pygments.git
[submodule "submodules/zgen"]
	path = submodules/zgen
	url = https://github.com/tarjoilija/zgen
